body{
    background: url('./../img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Matemasie', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;
    
    font-style: normal;
}

h2,label{
    color: rgb(58, 58, 245);
    font-family: 'Matemasie', sans-serif;
    margin-bottom: 0.5em;
    
}

small{
    display: block;
}


.card-body,.card.shadow{
    background: transparent;
    backdrop-filter: blur(30px);
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.btn-block{
    display: block;
    width: 100%;
}

.form-group .fa-eye, .form-group .fa-eye-slash {
    position: absolute;
    right: 15px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.form-control{
    background: #abbaab!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}