.quotediv{
    padding: 0 60px!important;
    width: 700px;
    height: 500px;
    padding: 24px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 24px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.quotesvgdiv1{
    left: 20px;
    top: 70px;
}

.quotesvgdiv2{
    right: 20px;
    bottom: 100px;
    transform: rotate(180deg);
}

.quotesvgdiv1 img,.quotesvgdiv2 img{
    width: 40px;
    height: 40px;
    color: #000;
    
}

#quote{
    font-weight: 600;
    font-size: 24px;
    line-height: 34px!important;
    color: #e2f8e1fb;
    text-align: center;
   
    padding: 20px 0;
}

#author{
    position: absolute;
    bottom: -150px;
    right: 20px;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px!important;
    color: #f5dd07;
    text-align: center;
    font-family: "Matemasie";
    font-style: normal;
    
}


.fa-chevron-down{
    position: absolute;
    font-size: 30px;
    color: #f5dd07;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}

.fa-chevron-down:nth-of-type(1){
    transform: rotate(90deg);
    left: 20px;
}

.fa-chevron-down:nth-of-type(2){
    transform: rotate(270deg);
    right: 20px;
}

.fa-chevron-down:hover{
    background-color: #3f1681ea;
    transition-duration: .5s;
}

@media only screen and (max-width: 1024px){
    .quotediv{
        width: 100%!important;
    }
}

@media only screen and (max-width: 768px){
    #author{
        bottom: -80px;
        font-size: 25px;
    }
    #quote{
        font-size: 18px;
        /* text-align: justify; */
    }
}