/* General styles */

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: url('./../img/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* overflow: hidden; */
}

nav{
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 2px 3px #00000044;
}

.hidden{
    display: none;
}


.nav-item{
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link{
    font-size: 20px!important;
    color: #fff!important;
}

.navbar-brand{
    font-size: 40px;
}

.nav-link.active{
    font-weight: 500;
    border-bottom: 2px solid orange;
}

.form-control{
    background: #abbaab!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-toggler-icon{
    background-image: url('./../img/menuicon.svg')!important;
}

.result-list {
    list-style-type: none;
    padding: 0;
}
.result-list li{
    padding: 10px;
    border-bottom: 1px solid #ddd;  
}
.result-list li:last-child {
    border-bottom: none;
}
.result-item {
    font-size: 500;
    font-size: 1.1rem;
    color: #000;
}
.result-item em{
    font-weight: bold;
}

.modal-content{
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


main{
    
    display: flex;
    justify-content: center;
    align-items: center;
}


main .container{
    padding: 70px 15px!important;
}

.welcome{
    transform: rotate(180deg);
    position: absolute;
    top: 50px;
    left: 10px;
    width: 515px;
    height: 100px;
    background-image: url('./../img/welcome.svg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.msg{
    padding-right: 20px;
    font-size: 30px;
    color: #E4FDE0;
    font-weight: 500;
    
}


.today{
    padding-bottom: 4px;
    font-size: 60px;
    font-weight: 400;
    color: rgba(255, 166, 0, 0.856);
    line-height: 85px;
    font-family: 'Matemasie';
    border-bottom: 5px solid #0420ad86;
    
}

#intro{
    font-size: 25px;
    font-weight: 400;
    color: rgba(255, 166, 0, 0.685);
    font-family: 'Matemasie';
    text-align: center;
}

.today i{
    font-size: 50px;
    line-height: 50px;
}



@media only screen and (max-width: 1024px){
    .insidecontainer{
        flex-direction: column;
        gap: 0;
    }
    .introDiv{
        height: auto;
    }
    
    .today{
        font-size: 50px;
        line-height: 1;
    }
    .welcome{
        transform: scale(0.6) rotate(180deg);
        left: -80px;
        top: -30px;

        
    }
    main .container{
        padding: 30px 20px!important;
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 991px){

    .nav-item{
        padding: 5px 0;
    }
}   


@media only screen and (max-width: 1396px){
    .today{
        font-size: 30px!important;
    }

    #intro{
        font-size: 18px!important;
    }

    .today i{
        font-size: 30px!important;
    }
}

